.team-players {
  text-align: center;
}

.player-grid {
  display: inline-block;
}

.player-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.player-item {
  position: relative;
  margin: 0 60px;
}

.player-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.player-item .player-name {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  transition: opacity 0.3s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.meet-our-best-team{
    margin-top: -90px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.we-are-proud-team{
    font-size: 16px;
}
.mission{
    margin-top: -130px;
}  

.hero-section-training-team{
  position: relative;
    height: 800px;
    width: 100%;
}

.hero-text {
  position: relative;
  margin-top: -700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 70px;
  text-align: center;
  color: #fff;
}

.hero-text-span {
  font-size: 60px;
  font-weight: bolder;
}

.hero-text-p {
  font-size: 50px;
  margin-top: -60px;
  color:#f0f0f0;
  font-weight: 300;
}



.about-team-training{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .about-team-training .left{
    padding:2% 0;
    float:left;
    width:50%;
    display:inline-block;
 }
 .about-team-training .right{
    width:50%;
    display:inline-block;
 }
 .about-team-training .right img{
    width:100%;
    height:500px;
 }
 .about-team-training .left .title-team-training{
    text-align:center;
    color:blue;
 }
 .about-team-training .left hr{
    width:28%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .about-team-training .left p{
    font-size:1rem;
    margin:40px auto;
    width:80%
 }


 
 .mission{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .mission .right{
    padding:2% 0;
    width:50%;
    display:inline-block;
 }
 .mission .left{
    float:left;
    width:50%;
 
    display:inline-block;
 }
 .mission .left img{
    width:100%;
    height:500px;
 }
 .mission .right .title-team-training{
    text-align:center;
    color:blue;
   
 }
 .mission .right hr{
    width:25%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .mission .right .description-team-trainnig{
    font-size:1rem;
    margin:40px auto;
    width:80%
 }
 
 .container-team-training {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -20px;
}


.about-team-training,
.mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.left,
.right {
  flex: 1;
  padding: 20px;
}

.title-team-training {
  font-size: 45px;
  margin-top: 0px;
}

.description-team-training {
  font-size: 16px;
  margin-bottom: 10px;
}

.schedule-table {
   margin-left: 150px;
   width: 70%;
  border-collapse: collapse;
  margin-top: 80px;
}

.schedule-table th,
.schedule-table td {
  padding: 8px;
  text-align: center;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
}

.schedule-table th {
  background-color: #f0f0f0;
  width: 50%;
}

.schedule-table td {
   width: 50%; 
}
 
.schedule-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tbody tr:hover {
  background-color: #f5f5f5;
}

.schedule-table tbody td:first-child {
  font-weight: bold;
}



