.faq__container {
    max-width: 980px;
    margin: auto;
    padding: 70px 12px;
  }

  .container-paddel-question{
    margin-left: 350px;
  }
  

  .faq__panel {
    margin-bottom: 24px;
    border: 1px solid #777e91;
    border-radius: 8px;
    width:100%
  }

  
  .faq__label {
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    width: 100%;
  }

  .faq__body {
    width: 600px;
  }
  
  .faq__label.expanded {
    color: blue;
  }
  
  .faq__label:hover {
    color: blue;
  }
  
  .faq__panel-body {
    padding: 10px 20px;
  }
  
  .faq__panel-answer {
    color: #444;
    margin-left: 50px;
  }
  
  .faq__body {
    margin-left: 2rem;
    width: 73%;
    margin-top: 30px;
  } 

@media (max-width: 768px) {
  .container-paddel-question{
    margin-left: 15px;
    width: 110%;
  }

  .faq__label{
    width: 80%;
  }
}