.home {
  overflow: hidden;
}

.who-we-are {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.number-box span .imagehomehome {
  animation: fade-up 2s;
}

.card-home-page-coaches {
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
  animation: fade-up 2s;
}

@media (max-width: 768px) {
  .who-we-are {
    flex-direction: column;
    gap: 50px;
    margin-left: 5.5%;
    width: 90%;
    margin-top: -30%;
    margin-bottom: -5%;
  }

  .card-home-page-coaches {
    width: 100%;
  }

  .imagehomehome {
    height: 320px;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.homeprofpic {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-left: -25px;
}
.centered-heading-frequency {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-left: -25px;
}

.title-homepage {
  font-size: 50px;
  margin-top: 60px;
}

.title-homepage-questions-home {
  font-size: 50px;
  margin-top: 95px;
}

.champions {
  margin-top: -3px;
  margin-bottom: -3px;
}

.champions-image {
  position: relative;
}

.champions-image img {
  height: 600px;
}

.champions-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.champions-description-header {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: -30px;
}

.champions-description-underheader {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  margin-top: 30px;
  width: 700px;
  margin-left: 130px;
}



.descriptionofcoach {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.homeprofpic img {
  display: block;
  width: 100%;
  height: 100%;
}

.card-home-page-coaches-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-home-page-coaches:hover .card-home-page-coaches-inner {
  transform: rotateY(180deg);
}

.card-home-page-coaches-front,
.card-home-page-coaches-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-home-page-coaches-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.card-home-page-coaches-back {
  transform: rotateY(180deg);
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  margin-left: 25px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-left: 25px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.headhomepage {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}

.number-box {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  background: blue;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}

.number-box span {
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
}

.h2fortitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
  position: relative;
  overflow: hidden;
}

.h2fortitle span.small {
  display: block;
  font-size: 0.75rem;
  margin: 3px;
}

.h2fortitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: blue;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.h2fortitle::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: blue;
  transform: scaleX(1);
  transform-origin: right center;
  transition: transform 0.3s ease;
}

.headhomepage:hover .h2fortitle::before,
.headhomepage:focus .h2fortitle::before {
  transform: scaleX(1);
  transform-origin: right center;
}

.headhomepage:hover .h2fortitle::after,
.headhomepage:focus .h2fortitle::after {
  transform: scaleX(0);
  transform-origin: left center;
}

.buttonhome {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.buttonhome:hover {
  background-color: #242222;
}

.whoweare-home {
  animation: fade-up 3s;
}

.shop-now-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.image-wrapper-home-page-section2 {
  position: relative;
  width: 50%;
}

.image-wrapper-home-page-section3 {
  position: relative;
  width: 100%;
}

.image-small1 {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  max-width: 100%;
  max-height: 400px;
  transition: transform 4.5s ease-in-out;
  object-fit: cover;
}

.image-small1:hover {
  transform: scale(1.05);
}

.image-small2 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  max-width: 100%;
  max-height: 400px;
  transition: transform 4.5s ease-in-out;
  object-fit: cover;
}

.image-small2:hover {
  transform: scale(1.05);
}

.shop-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shop-now-link {
  position:absolute;
  margin-top: -800px;
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 24px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.shop-now-link:hover {
  background-color:  #242222;
}


.image-large {
  max-width: 100%;
  max-height: 400px;
  transition: transform 4.5s ease-in-out;
  object-fit: cover;
}

.image-large:hover {
  transform: scale(1.05);
}

.image-description {
  position: absolute;
  top: 70%;
  left: 50px;
  font-family: "Montserrat", sans-serif;
  transform: translateY(-50%);
  color: white;
  padding: 20px;
  font-size: 17px;
  text-align: left;
  width: 550px;
}

.title-dark-white {
  font-size: 30px;
  font-weight: bolder;
}

.description-lighter {
  margin-top: 10px;
  font-weight: unset;
}

@media (max-width: 768px) {
  .shop-now-images {
    flex-direction: column;
  }
  .image-small1{
    width: 100%;
    height: 270px;
  }
  .image-small2{
    width: 100%;
    height: 270px;
  }
  .image-large{
    width: 100%;
    height: 270px;
  }
  .image-description{
    width: 70%;
    font-size: 15px;
    margin-left: -40px;
  }
  .shop-now-link{
    margin-top: 200px;
  }
  .champions-image-three-family{
    width: 100%;
  }
  .champions-description-header{
    width: 130%;
    margin-top: -25%;
    font-size: 30px;
    margin-left: -25px;
    color: white;
  }
  .champions-description-underheader{
    width: 150%;
    font-size: 15px;
    margin-left: -45px;
  }
  .image-wrapper-home-page-section2 {
    width: 100%;
  }
  .title-homepage{
    margin-top: -190px;
  }
  .centered-heading-frequency{
    font-size: 30px;
  }
  .title-homepage-questions-home{
    margin-top:140px;
    margin-left: 48px

  }
}