.faq__container {
    max-width: 980px;
    margin: auto;
    padding: 70px 12px;
  }
  
  .faq__header-title {
    font-size: clamp(22px, 4vw, 35px);
    color: black;
    margin-top: 50px;
  }
  
  .faq__panel {
    margin-bottom: 24px;
    border: 1px solid #777e91;
    border-radius: 8px;
  }
  
  .faq__label {
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
  }
  
  .faq__label:hover {
    color: blue;
  }
  
  .faq__panel-body {
    padding: 10px 20px;
  }
  
  .faq__panel-answer {
    color: #444;
    margin-left: 50px;
  }
  
  .faq__body {
    margin-left: 2rem;
    width: 73%;
    margin-top: 30px;
  } 

