.shopping-cart {
    position: fixed;
    top: 80px;
    right: 0;
    background-color: white;
    border-radius: 5px;
    height: 95vh;
    width: 350px;
  }

  .shopping-cart h2{
    margin-left: 110px;
  }
  .product-price-shopping-cart{
    margin-left: 10px;
  }

  .remove-from-shopping-cart {
    background-color: red;
    font-size: 17px;
    color: white;
    border: none;
    margin-right: 22px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right; 
  }
  
  .remove-from-shopping-cart:hover {
    background-color: black;
  }

  
  .save-from-shopping-cart {
    background-color: red;
    font-size: 17px;
    color: white;
    border: none;
    margin-right: 120px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right; 
  }
  
  .save-from-shopping-cart:hover {
    background-color: black;
  }
  
  .shopping-cart li {
    margin-bottom: 20px;
  }
  